body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#choix-adversaire {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#votre-choix {
    width: 240px;
    height: 240px;
    margin-top: 10px; 
}

#choix {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choix img {
    width: 80px;
    height: 80px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(135deg, #3498db, #8e44ad); 
}

.content {
    position: relative;
    text-align: center;
    padding-top: 50px;
    color: white;
}
